<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ltx.springboot.dao.RolePrivilegeMapper">
  <resultMap id="BaseResultMap" type="cn.ltx.springboot.entity.RolePrivilege">
    <id column="rp_id" jdbcType="INTEGER" property="rpId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="privilege_id" jdbcType="INTEGER" property="privilegeId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    rp_id, role_id, privilege_id, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role_privilege
    where rp_id = #{rpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role_privilege
    where rp_id = #{rpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ltx.springboot.entity.RolePrivilege">
    insert into t_role_privilege (rp_id, role_id, privilege_id, 
      create_date, modify_date)
    values (#{rpId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{privilegeId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.ltx.springboot.entity.RolePrivilege">
    insert into t_role_privilege
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rpId != null">
        rp_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="privilegeId != null">
        privilege_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rpId != null">
        #{rpId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null">
        #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ltx.springboot.entity.RolePrivilege">
    update t_role_privilege
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null">
        privilege_id = #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rp_id = #{rpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ltx.springboot.entity.RolePrivilege">
    update t_role_privilege
    set role_id = #{roleId,jdbcType=INTEGER},
      privilege_id = #{privilegeId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where rp_id = #{rpId,jdbcType=INTEGER}
  </update>
</mapper>